<div class="comprendre-view">
	<ul class="hotspots fg list-unstyled">
		<li class="gatinais-francais">
			<a ng-click="search('parc', 'gatinais-francais')">			
				<span class="sr-only">
					Gâtinais français
				</span>
			</a>
		</li>
		<li class="haute-vallee-de-chevreuse">
			<a ng-click="search('parc', 'haute-vallee-de-chevreuse')">			
				<span class="sr-only">
					Haute Vallée de Chevreuse
				</span>
			</a>
		</li>
		<li class="oise-pays-de-france">
			<a ng-click="search('parc', 'oise-pays-de-france')">			
				<span class="sr-only">
					Oise - Pays de France
				</span>
			</a>
		</li>
		<li class="vexin-francais">
			<a ng-click="search('parc', 'vexin-francais')">			
				<span class="sr-only">
					Vexin français
				</span>
			</a>
		</li>
		<li class="brie-et-deux-morin">
			<a ng-click="search('parc', 'brie-et-deux-morin')">			
				<span class="sr-only">
					Brie et deux Morin
				</span>
			</a>
		</li>
		<li class="bocage-gatinais">
			<a ng-click="search('parc', 'bocage-gatinais')">			
				<span class="sr-only">
					Bocage gâtinais
				</span>
			</a>
		</li>
	</ul>
	<div class="infobox fg" ng-show="parc">
		<a href="#/comprendre/" class="close"></a>
		<h3>{{getParc().nom}}</h3>
		<div class="row text-center text-indicator nowrap top05 bottom05">
			<div class="col-xs-4">
				<img src="./images/pic_creation.png" />
				{{getParc().date_creation}}
			</div>
			<div class="col-xs-4">
				<img src="./images/pic_habitants.png" />
				{{getParc().population_2009}} habitants
			</div>
			<div class="col-xs-4">
				<img src="./images/pic_superficie.png" />
				{{getParc().superficie_km2}} km<sup>2</sup>
			</div>
		</div>
		<p>
			{{getParc().fiche}}
		</p>
		<a class="btn btn-block btn-default" ng-href="#/explorer/?parc={{parc}}">Explorez ce Parc</a>		
	</div>

	<img src="./images/map_base-accueil.png" class="bg" />
	<img ng-src="./images/comprendre/map_{{categorie}}.png" class="fg" ng-show="categorie" alt="{{categorie}}" />

</div>