<div class="comparer-view region-{{region}} theme-{{theme}}">
	<div class="sr-only">
		<p><strong>Notez bien que</strong> les régions Poitou-Charentes, Guadeloupe, Mayotte, et Réunion n’ont pas de Parc Naturel Régional.</p>
		<p>Premier indicateur : la part du <strong>territoire régional occupé par un ou des Parcs naturels régionaux</strong>. L’île-de-France se classe 10e avec 18% de son territoire occupé par des PNR. (Cette part augmentera à 33% avec les PNR en projet). La Martinique est en tête du classement avec 56%, les Pays-de-Loire sont derniers avec 2%.</p>

		<p>Deuxième indicateur : le <strong>nombre d’habitants vivant dans un PNR</strong>. La région Ile–de-France se classe 3e avec 305 900 habitants (cette part augmentera à 609300 avec les parcs en projet). La tête du classement est occupée par le Nord-Pas-de-Calais avec 507900 habitants et la Guyanne est dernière avec 21175 personnes.</p>

		<p>Troisième indicateur : <strong>la part de l’agriculture en grande culture.</strong> La Région Ile-de-France est première avec 73% de la surface des PNR occupée par de l’agriculture, la Corse est dernière avec 3%.</p>

		<p>Quatrième indicateur : <strong>le taux de destruction des espaces naturels par artificialisation.</strong> La Région Ile-de-France est 8e, avec 0,10%. La Haute-Normandie est première, artificialisant 0,26% des territoires de ses Parcs Naturels Régionaux. La Corse est dernière avec 0,01% de taux de destruction de son territoire protégé.</p>

		<p>Cinquième indicateur : le niveau du <strong>taux d’emploi dans les Parcs Naturels Régionaux.</strong> L’Île-de-France se classe 3e avec 2,44% d’emplois en plus entre 1999 et 2009. La tête du classement est occupée par la Picardie avec 3,39%, la Franche-Comté est en queue de classement avec une destruction d’emplois de 11,76%.</p>
	</div>
	<img ng-src="./images/comparer/graphe_{{theme}}.png" imageonload class="bg" ng-show="theme" />		
	<ul class="list-regions list-unstyled">
		<li ng-repeat="reg in sortedRegions">
			<a ng-click="search('region', reg, false, reg != 'Île-de-France')" href="">
				<span class="sr-only">{{reg}}</span>
			</a>
		</li>
	</ul>
	<div class="viz">
		<div class="bar idf" ng-style="style(base, theme)">
			<h4 ng-class="{outside: isOutside(base, theme) }">
				{{base}}
				<span class="indicator">
					{{get(base, theme)|number:decimals}}
					<span ng-show="get(base, theme) < 100">%</span>
				</span>
			</h4>
		</div>
		<div class="bar" ng-style="style(region, theme)" ng-show="region">
			<h4 ng-class="{outside: isOutside(region, theme) }">
				{{region}}
				<span class="indicator" ng-show="get(region, theme) != null">
					{{get(region, theme)|number:decimals}}
					<span ng-show="get(region, theme) < 100">%</span>
				</span>
				<span class="indicator" ng-show="get(region, theme) == null">
					N.C.
				</span>
			</h4>
		</div>
		<div ng-hide="region" class="choose">
			<h4>
				Choisissez<br />
				une région<br />
				sur la carte<br />
				(à gauche)
			</h4>
		</div>
		<div class="legend" ng-style="legendStyle()" ng-bind-html-unsafe="legend[theme]"></div>
	</div>
</div>