<div class="explorer-view parc-{{zoom}}">
	<div class="sr-only">
		<h3>Pour accéder au Parc Oise Pays de France :</h3>
		<ul>
			<li>RER, ligne D ( Direction Orry-le-ville, Coye-la-forêt ou Creil)</li>
			<li>Par train : Paris-Creil, Pontoise-Creil, Paris-Luzarches et Paris-Pont Sainte Maxence</li>
			<li>Par bus : Liaison Orry-la-ville – Senlis – Chantilly et liaison Creil – Senlis – Roissy. </li>
		</ul>
		<p>Site internet : <a href="http://www.parc-oise-paysdefrance.fr">www.parc-oise-paysdefrance.fr</a></p>
		
		<h3>Pour accéder au Parc Gâtinais Français :</h3>
		<ul>
			<li>Par le RER ligne B et C</li>
			<li>Par le transilien</li>
		</ul>
		<p>Site internet : 	<a href="http://www.parc-gatinais-franais.fr">www.parc-gatinais-franais.fr<a></p>
		
		<h3>Pour accéder au Parc de la Haute Vallée de Chevreuse :</h3>
		<ul>
			<li>Par le RER : Ligne B (arrêts : Gif-sur-Yvette ou Saint-Remy-Lès-Chevreuse), Ligne C (arrêt Saint-Quentin en Yvelines).</li>
			<li>Par Baladobus à la gare RER de Saint-Remy-Lès-Chevreuse ou à la gare SNCF de Rambouillet.</li>
		</ul>
		<p>Site internet : <a href="http://www.parc-naturel-chevreuse.fr">www.parc-naturel-chevreuse.fr</a></p>

		<h3>Pour accéder au Parc du Vexin Français :</h3>
		<ul>
			<li>Par le train : Transilien, lignes H et J.</li>
			<li>Par Baladobus : au départ des gares RER de Cergy (dimanches de mi-mai à fin septembre)</li>
			<li>Réseau bus Val d’Oise : Lignes 95-04, 95-07, 95-08, 95-11. </li>
		</ul>
		<p>Site internet : <a href="http://www.pnr-vexin-francais.fr">www.pnr-vexin-francais.fr</a></p>

		<h3>Pour en savoir plus sur les Parcs en projet :</h3>
		<ul>
			<li>Site internet du Parc de Brie et 2 Morin : <a href="http://www.pnrbrie2morin.fr">www.pnrbrie2morin.fr</a></li>
			<li>Site internet du Parc du Bocage Gâtinais : <a href="http://www.projet-pnr-bocage-gatinais.fr">www.projet-pnr-bocage-gatinais.fr</a></li>
		</ul>
	</div>
	<img ng-src="./images/map_base-accueil.png" class="bg" />

	<ul class="hotspots fg list-unstyled">
		<li class="gatinais-francais">
			<a ng-click="search('zoom', 'gatinais-francais')">			
				<span class="sr-only">
					Gâtinais français
				</span>
			</a>
		</li>
		<li class="haute-vallee-de-chevreuse">
			<a ng-click="search('zoom', 'haute-vallee-de-chevreuse')">			
				<span class="sr-only">
					Haute Vallée de Chevreuse
				</span>
			</a>
		</li>
		<li class="oise-pays-de-france">
			<a ng-click="search('zoom', 'oise-pays-de-france')">			
				<span class="sr-only">
					Oise - Pays de France
				</span>
			</a>
		</li>
		<li class="vexin-francais">
			<a ng-click="search('zoom', 'vexin-francais')">			
				<span class="sr-only">
					Vexin français
				</span>
			</a>
		</li>
		<li class="brie-et-deux-morin">
			<a ng-click="search('zoom', 'brie-et-deux-morin')">			
				<span class="sr-only">
					Brie et deux Morin
				</span>
			</a>
		</li>
		<li class="bocage-gatinais">
			<a ng-click="search('zoom', 'bocage-gatinais')">			
				<span class="sr-only">
					Bocage gâtinais
				</span>
			</a>
		</li>
	</ul>
	
	<img ng-src="./images/explorer/Zoom_{{zoom}}.png" imageonload ng-if="zoom" class="fg" />
	<img ng-src="./images/explorer/{{metropole}}.png" imageonload class="fg metropole" ng-style="metropoleStyle()" ng-if="metropole && parc" />

	<a class="parc-link" ng-show="zoom == 'gatinais-francais'" href="http://www.parc-gatinais-francais.fr">
		www.parc-gatinais-francais.fr
	</a>

	<a class="parc-link" ng-show="zoom == 'haute-vallee-de-chevreuse'" href="http://www.parc-naturel-chevreuse.fr">
		www.parc-naturel-chevreuse.fr
	</a>

	<a class="parc-link" ng-show="zoom == 'oise-pays-de-france'" href="http://www.parc-oise-paysdefrance.fr">
		www.parc-oise-paysdefrance.fr
	</a>

	<a class="parc-link" ng-show="zoom == 'vexin-francais'" href="http://www.pnr-vexin-francais.fr">
		www.pnr-vexin-francais.fr
	</a>

	<a class="parc-link" ng-show="zoom == 'brie-et-deux-morin'" href="http://www.pnrbrie2morin.fr">
		www.pnrbrie2morin.fr
	</a>

	<a class="parc-link" ng-show="zoom == 'bocage-gatinais'" href="http://www.projet-pnr-bocage-gatinais.fr">
		www.projet-pnr-bocage-gatinais.fr
	</a>

</div>

