<div class="main-view">
	<div class="sr-only">
		<p>La home présente une carte de l’Île-de-France sur laquelle sont représentés les 4 Parcs Naturels Régionaux existant, ainsi que 2 parcs en projet.</p>
		<p>Ces 6 espaces naturels représentent 609300 habitants, sur 33% du territoire francilien, soit 5133km2. Et 91% de ces territoires sont boisés.</p>

		<h3>Les parcs existants sont :</h3>
		<ul>
			<li>Le parc Oise-Pays de France : créé en 2004, il est A cheval entre Picardie et Île-de-France. Il comprend 100700 habitants sur 575 km2. Le parc intègre les trois grands massifs forestiers de Chantilly, Halatte et Ermenonville, ce qui lui a valu son premier nom : « Parc naturel régional des trois forêts ». Plus de 100 monuments classés ou inscrits composent son patrimoine, dont le château de Chantilly, la cathédrale de Senlis ou les abbayes de Royaumont, du Moncel et de Chaalis.</li>
			<li>Le Parc du Vexin Français : créé en 1995 il regroupe 87100 habitants sur 716 km2. Son intérêt réside autant dans la diversité des constructions que dans la présence d'espèce végétales protégées. Il compte en effet pas moins de 120 églises et 80 châteaux. Ses principaux sites touristiques sont Auvers-sur-Oise, le village des peintres, les châteaux de la Roche-Guyon et d'Ambleville ou encore le domaine de Villarceaux.</li>
			<li>Le parc de la Haute vallée de Chevreuse : créé en 1985 avec 118100 habitants sur 633km2. Partie intégrante du grand massif forestier de la forêt de Rambouillet qui constitue 40 % de son territoire, 90 % du Parc est occupé par des forêts, des espaces naturels ou agricoles. Parmi son patrimoine architectural remarquable, on peut noter les châteaux de Dampierre, Breteuil, Janvry ou de la Madeleine ou encore les abbayes de Port-Royal des Champs et des Vaux de Cernay.</li>
			<li>Enfin le parc du Gâtinais Français : créé en 1999, il regroupe 82800 habitants sur 755km2. Surnommé le "pays des mille clairières et du grès", le parc est traversé par 3 rivières et présente des paysages contrastés : clairières, forêts, affleurements et chaos gréseux. Occupé à 55% par des terres agricoles et à 33% par des bois et forêts, son sol sablonneux est idéal pour les cultures de plantes médicinales et d’orge. La "gâtine", bière locale, est réalisée à partir d'orge et de miel, les deux symboles du logo du Parc.</li>
		</ul>

		<h3>Deux parcs sont en projets.</h3>
		<p>Le Parc de Brie et Deux Morin qui devrait regrouper 160000 habitants sur 1344km2. Avec un patrimoine historique de 74 monuments et 8 sites naturels classés, le futur parc voit les 2/3 de son territoire occupé par l'agriculture.<br />Il souhaite protéger ses 1000 km de canaux et rivières, son patrimoine du XIXe siècle lié à la gestion de l'eau, ainsi que son rôle clé dans la migration de certaines espèces.</p>
		<p>Et le Parc du Bocage Gatinais qui devrait comprendre 60600 habitants sur 1110km2. Situé entre les vallées du Loing, de l’Yonne et de la Cléry, le Bocage Gâtinais est au carrefour des Régions Ile-de-France, Centre et Bourgogne. Ses hameaux, ses plateaux agricoles et ses paysages à la fois diversifiés et préservés lui confèrent une identité territoriale forte. Face aux dynamiques périurbaines qui participent à sa transformation, les acteurs locaux se mobilisent autour d’un projet de PNR pour promouvoir un développement durable et respectueux de cette identité.</p>
	</div>
	
	<img src="./images/map_base-accueil.png" imageonload class="bg" />
	<ul class="hotspots fg list-unstyled">
		<li class="gatinais-francais">
			<a href="#/?parc=gatinais-francais">			
				<span class="sr-only">
					Gâtinais français
				</span>
			</a>
		</li>
		<li class="haute-vallee-de-chevreuse">
			<a href="#/?parc=haute-vallee-de-chevreuse">			
				<span class="sr-only">
					Haute Vallée de Chevreuse
				</span>
			</a>
		</li>
		<li class="oise-pays-de-france">
			<a href="#/?parc=oise-pays-de-france">			
				<span class="sr-only">
					Oise - Pays de France
				</span>
			</a>
		</li>
		<li class="vexin-francais">
			<a href="#/?parc=vexin-francais">			
				<span class="sr-only">
					Vexin français
				</span>
			</a>
		</li>
		<li class="brie-et-deux-morin">
			<a href="#/?parc=brie-et-deux-morin">			
				<span class="sr-only">
					Brie et deux Morin
				</span>
			</a>
		</li>
		<li class="bocage-gatinais">
			<a href="#/?parc=bocage-gatinais">			
				<span class="sr-only">
					Bocage gâtinais
				</span>
			</a>
		</li>
	</ul>
	<div class="infobox fg" ng-show="parc">
		<a href="#/" class="close"></a>
		<h3>{{getParc().nom}}</h3>
		<div class="row text-center text-indicator nowrap top05 bottom05">
			<div class="col-xs-4">
				<img src="./images/pic_creation.png" />
				{{getParc().date_creation}}
			</div>
			<div class="col-xs-4 habitants-offset">
				<img src="./images/pic_habitants.png" />
				{{getParc().habitants|number}} habitants
			</div>
			<div class="col-xs-4">
				<img src="./images/pic_superficie.png" />
				{{getParc().superficie_km2}} km<sup>2</sup>
			</div>
		</div>
		<p>
			{{getParc().fiche}}
		</p>
		<a class="btn btn-block btn-default" href="#/explorer/?parc={{parc}}">Explorez ce Parc</a>		
	</div>
</div>