
<div class="menu-body">
	<p class="text-intro">
		Au-delà de la protection de la nature,<br />
		ces Parcs sont également des lieux<br />
		de vie et d'activités économiques.
	</p>
	<h4 class="top20">Choisissez une catégorie</h4>
	<ul class="list-unstyled">
		<li ng-class="{active: categorie == 'densitepop'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'densitepop')">
				<span class="pic">
					<img src="images/comprendre/pic_densitepop-black.png" class="on"  />
					<img src="images/comprendre/pic_densitepop-white.png" class="off" />
				</span>
				Densité de population
			</a>
		</li>
		<li ng-class="{active: categorie == 'zoneactivite'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zoneactivite')">
				<span class="pic">
					<img src="images/comprendre/pic_zoneactivite-black.png" class="on"  />
					<img src="images/comprendre/pic_zoneactivite-white.png" class="off" />
				</span>
				Zones d'activités
			</a>
		</li>
		<li ng-class="{active: categorie == 'zonehabitee'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zonehabitee')">
				<span class="pic">
					<img src="images/comprendre/pic_zonehabitee-black.png" class="on"  />
					<img src="images/comprendre/pic_zonehabitee-white.png" class="off" />
				</span>
				Zone habitée
			</a>
		</li>
		<li ng-class="{active: categorie == 'biodiversite'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'biodiversite')">
				<span class="pic">
					<img src="images/comprendre/pic_biodiversite-black.png" class="on"  />
					<img src="images/comprendre/pic_biodiversite-white.png" class="off" />
				</span>
				Biodiversité florale
			</a>
		</li>
		<li ng-class="{active: categorie == 'zoneinteret'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zoneinteret')">
				<span class="pic">
					<img src="images/comprendre/pic_zoneinteret-black.png" class="on"  />
					<img src="images/comprendre/pic_zoneinteret-white.png" class="off" />
				</span>
				Zone d'intérêt écologique
			</a>
		</li>
		<li ng-class="{active: categorie == 'terroirs'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'terroirs')">
				<span class="pic">
					<img src="images/comprendre/pic_terroirs-black.png" class="on"  />
					<img src="images/comprendre/pic_terroirs-white.png" class="off" />
				</span>
				Le terroirs
			</a>
		</li>
	</ul>
</div>