<menu ng-controller="MenuCtrl">
	<h1>
		<a ng-href="#/">
			<span class="sr-only">
				Les Parcs naturels régionaux en Île-de-France
			</span>
		</a>
	</h1>	
	<ul class="links list-unstyled">
		<li ng-class="{open: current == 'main'}" class="main menu-part">
			<img src="./images/info_main.png" alt="" />
		</li>
		<li ng-class="{open: current == 'comprendre'}"  class="comprendre menu-part">
			<a class="heading" href="#/comprendre">Comprendre</a>
			<div class="menu-body">
				<p class="text-intro">
					Au-delà de la protection de la nature,<br />
					ces Parcs sont également des lieux<br />
					de vie et d'activités économiques.
				</p>
				<h4 class="top20">Choisissez une catégorie</h4>
				<ul class="list-unstyled">
					<li ng-class="{active: categorie == 'biodiversite'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'biodiversite')">
							<span class="pic">
								<img src="images/comprendre/pic_biodiversite-black.png" class="on"  />
								<img src="images/comprendre/pic_biodiversite-white.png" class="off" />
							</span>
							Densité de population
						</a>
					</li>
					<li ng-class="{active: categorie == 'densitepop'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'densitepop')">
							<span class="pic">
								<img src="images/comprendre/pic_densitepop-black.png" class="on"  />
								<img src="images/comprendre/pic_densitepop-white.png" class="off" />
							</span>
							Zones d'activités
						</a>
					</li>
					<li ng-class="{active: categorie == 'terroirs'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'terroirs')">
							<span class="pic">
								<img src="images/comprendre/pic_terroirs-black.png" class="on"  />
								<img src="images/comprendre/pic_terroirs-white.png" class="off" />
							</span>
							Zone habitée
						</a>
					</li>
					<li ng-class="{active: categorie == 'zoneactivite'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zoneactivite')">
							<span class="pic">
								<img src="images/comprendre/pic_zoneactivite-black.png" class="on"  />
								<img src="images/comprendre/pic_zoneactivite-white.png" class="off" />
							</span>
							Biodiversité florale
						</a>
					</li>
					<li ng-class="{active: categorie == 'zonehabitee'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zonehabitee')">
							<span class="pic">
								<img src="images/comprendre/pic_zonehabitee-black.png" class="on"  />
								<img src="images/comprendre/pic_zonehabitee-white.png" class="off" />
							</span>
							Zone d'intérêt écologique
						</a>
					</li>
					<li ng-class="{active: categorie == 'zoneinteret'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('categorie', 'zoneinteret')">
							<span class="pic">
								<img src="images/comprendre/pic_zoneinteret-black.png" class="on"  />
								<img src="images/comprendre/pic_zoneinteret-white.png" class="off" />
							</span>
							Le terroirs
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li ng-class="{open: current == 'explorer'}"  class="explorer menu-part">
			<a class="heading" href="#/explorer">Explorer</a>
			<div class="menu-body">
				<p class="text-intro">
					Chaque Parc francilien<br />
					a son identité et ses atouts.
				</p>
				<h4 class="top20">
					<span class="badge">1</span>
					Choisissez un parc
				</h4>				
				<ul class="minimap-parc list-unstyled" ng-class="parc">
					<li class="gatinais-francais">
						<a ng-click="search('parc', 'gatinais-francais')">
							<span class="sr-only">Gâtinais français</span>
						</a>
					</li>
					<li class="haute-vallee-de-chevreuse">
						<a ng-click="search('parc', 'haute-vallee-de-chevreuse')">
							<span class="sr-only">Haute Vallée de Chevreuse</span>
						</a>
					</li>
					<li class="oise-pays-de-france">
						<a ng-click="search('parc', 'oise-pays-de-france')">
							<span class="sr-only">Oise - Pays de France</span>
						</a>
					</li>
					<li class="vexin-francais">
						<a ng-click="search('parc', 'vexin-francais')">
							<span class="sr-only">Vexin français</span>
						</a>
					</li>
					<li class="brie-et-deux-morin">
						<a ng-click="search('parc', 'brie-et-deux-morin')">
							<span class="sr-only">Brie et deux Morin</span>
						</a>
					</li>
					<li class="bocage-gatinais">
						<a ng-click="search('parc', 'bocage-gatinais')">
							<span class="sr-only">Bocage gâtinais</span>
						</a>
					</li>
				</ul>
				<h4 class="">
					<span class="badge">2</span>
					Comparez avec une métropole
				</h4>
				<ul class="list-unstyled">
					<li ng-class="{active: metropole == 'paris'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'paris')">
							<span class="pic">
								<img src="images/explorer/pic_paris.png" class="on"  />
								<img src="images/explorer/pic_paris-white.png" class="off" />
							</span>
							Paris — 105 km<sup>2</sup>
						</a>
					</li>
					<li ng-class="{active: metropole == 'marseille'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'marseille')">
							<span class="pic">
								<img src="images/explorer/pic_marseille.png" class="on"  />
								<img src="images/explorer/pic_marseille-white.png" class="off" />
							</span>
							Marseille — 240 km<sup>2</sup>
						</a>
					</li>
					<li ng-class="{active: metropole == 'madrid'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'madrid')">
							<span class="pic">
								<img src="images/explorer/pic_madrid.png" class="on"  />
								<img src="images/explorer/pic_madrid-white.png" class="off" />
							</span>
							Madrid — 606 km<sup>2</sup>
						</a>
					</li>
					<li ng-class="{active: metropole == 'berlin'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'berlin')">
							<span class="pic">
								<img src="images/explorer/pic_berlin.png" class="on"  />
								<img src="images/explorer/pic_berlin-white.png" class="off" />
							</span>
							Berlin — 892 km<sup>2</sup>
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li ng-class="{open: current == 'comparer'}"  class="comparer menu-part">
			<a class="heading" href="#/comparer">Comparer</a>
			<div class="menu-body">
				<p class="text-intro">
					Comment se situe l'Île-de-France par<br />
					rapport aux autres régions françaises ?
				</p>
				<h4 class="top10">
					<span class="badge">1</span>
					Choisissez un thème
				</h4>			
				<ul class="list-unstyled">
					<li ng-class="{active: theme == 'superficie'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('theme', 'superficie')">
							<span class="pic">
								<img src="images/comparer/pic_superficie-black.png" class="on"  />
								<img src="images/comparer/pic_superficie-white.png" class="off" />
							</span>
							Superficie
						</a>
					</li>
					<li ng-class="{active: theme == 'habitants'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('theme', 'habitants')">
							<span class="pic">
								<img src="images/comparer/pic_habitants-black.png" class="on"  />
								<img src="images/comparer/pic_habitants-white.png" class="off" />
							</span>
							Nombre d'habitants
						</a>
					</li>
					<li ng-class="{active: theme == 'exploitation'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('theme', 'exploitation')">
							<span class="pic">
								<img src="images/comparer/pic_exploitation-black.png" class="on"  />
								<img src="images/comparer/pic_exploitation-white.png" class="off" />
							</span>
							Exploitations agricoles
						</a>
					</li>
					<li ng-class="{active: theme == 'resistance'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('theme', 'resistance')">
							<span class="pic">
								<img src="images/comparer/pic_resistance-black.png" class="on"  />
								<img src="images/comparer/pic_resistance-white.png" class="off" />
							</span>
							Résistance du Parc
						</a>
					</li>
					<li ng-class="{active: theme == 'emplois'}">
						<a class="btn btn-default btn-block btn-xs" ng-click="search('theme', 'emplois')">
							<span class="pic">
								<img src="images/comparer/pic_emplois-black.png" class="on"  />
								<img src="images/comparer/pic_emplois-white.png" class="off" />
							</span>
							Emplois
						</a>
					</li>
				</ul>
				<h4 class="top10 left10 text-left pull-left">
					<span class="badge">1</span>
					Cliquez sur<br />
					une autre<br />
					région
				</h4>

				<div class="france-map" france value="regionSelected"></div>
				<div class="pull-left small-admin">
					<a ng-click="search('region', 'Guyane')">Guyane</a>  
					<a ng-click="search('region', 'Martinique')">Martinique</a>  
				</div>
			</div>
		</li>
		<li ng-class="{open: current == 'revoir'}"  class="revoir menu-part">
			<a class="heading" href="#/revoir">Revoir</a>
		</li>
	</ul>
</menu>