
<div class="menu-body">
	<p class="text-intro">
		Chaque Parc francilien<br />
		a son identité et ses atouts.
	</p>
	<h4 class="top20">
		<span class="badge">1</span>
		Choisissez un parc
	</h4>				
	<ul class="minimap-parc list-unstyled" ng-class="parc">
		<li class="gatinais-francais">
			<a ng-click="search('parc', 'gatinais-francais')">
				<span class="sr-only">Gâtinais français</span>
			</a>
		</li>
		<li class="haute-vallee-de-chevreuse">
			<a ng-click="search('parc', 'haute-vallee-de-chevreuse')">
				<span class="sr-only">Haute Vallée de Chevreuse</span>
			</a>
		</li>
		<li class="oise-pays-de-france">
			<a ng-click="search('parc', 'oise-pays-de-france')">
				<span class="sr-only">Oise - Pays de France</span>
			</a>
		</li>
		<li class="vexin-francais">
			<a ng-click="search('parc', 'vexin-francais')">
				<span class="sr-only">Vexin français</span>
			</a>
		</li>
		<li class="brie-et-deux-morin">
			<a ng-click="search('parc', 'brie-et-deux-morin')">
				<span class="sr-only">Brie et deux Morin</span>
			</a>
		</li>
		<li class="bocage-gatinais">
			<a ng-click="search('parc', 'bocage-gatinais')">
				<span class="sr-only">Bocage gâtinais</span>
			</a>
		</li>
	</ul>
	<h4 class="">
		<span class="badge">2</span>
		Comparez avec une métropole
	</h4>
	<ul class="list-unstyled">
		<li ng-class="{active: metropole == 'paris'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'paris')">
				<span class="pic">
					<img src="images/explorer/pic_paris.png" class="on"  />
					<img src="images/explorer/pic_paris-white.png" class="off" />
				</span>
				Paris — 105 km<sup>2</sup>
			</a>
		</li>
		<li ng-class="{active: metropole == 'marseille'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'marseille')">
				<span class="pic">
					<img src="images/explorer/pic_marseille.png" class="on"  />
					<img src="images/explorer/pic_marseille-white.png" class="off" />
				</span>
				Marseille — 240 km<sup>2</sup>
			</a>
		</li>
		<li ng-class="{active: metropole == 'madrid'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'madrid')">
				<span class="pic">
					<img src="images/explorer/pic_madrid.png" class="on"  />
					<img src="images/explorer/pic_madrid-white.png" class="off" />
				</span>
				Madrid — 606 km<sup>2</sup>
			</a>
		</li>
		<li ng-class="{active: metropole == 'berlin'}">
			<a class="btn btn-default btn-block btn-xs" ng-click="search('metropole', 'berlin')">
				<span class="pic">
					<img src="images/explorer/pic_berlin.png" class="on"  />
					<img src="images/explorer/pic_berlin-white.png" class="off" />
				</span>
				Berlin — 892 km<sup>2</sup>
			</a>
		</li>
	</ul>
</div>