<div class="revoir-view">
	<div class="sr-only">
		<p>Le premier parc Naturel régional français date de 1968. C’est celui de Scarpe Escaut dans le Nord. On compte aujourd’hui 48 Parcs naturels régionaux en France. Par ailleurs, 12 parcs sont en projets et 10 en réflexion.</p>
		<p>Les parcs franciliens apparaissent à partir de 1985 avec le Parc de la Haute Vallée de Chevreuse. En 1995, le Parc du Vexin Français est créé, le Parc du Gâtinais français date de 1999 et enfin, le Parc Oise-Pays de France date de 2004.</p>
	</div>
	<img src="./images/revoir/background.png" imageonload class="bg" />
	<ul class="annees fg list-unstyled">
		<li ng-repeat="annee in visibles()" class="annee">
			<img ng-src="./images/revoir/{{annee|slug}}.png" />
		</li>
	</ul>
</div>